head
  meta(charset='utf-8')
  title Result Verification
  base(href='/')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/x-icon' href='./assets/images/icoEcoCare1.png')
  style.
    html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}body,html{height:100%;}body{font-family:HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;font-weight:300;}
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script
    include script.js
  noscript
    link(rel='stylesheet' href='styles.6d07511f82aec3aaaf09.css')
  style.
  style.
    nav[_ngcontent-obh-c6]{width:100%;height:68px;background-color:#fff;justify-content:space-between;box-sizing:border-box;padding:16px 32px}.language-holder[_ngcontent-obh-c6], nav[_ngcontent-obh-c6]{display:flex;align-items:center}.language-holder[_ngcontent-obh-c6]{justify-content:flex-start}.sub-container[_ngcontent-obh-c6]{flex:1}.sub-flags[_ngcontent-obh-c6]{justify-content:flex-start;cursor:pointer}.logo[_ngcontent-obh-c6], .sub-flags[_ngcontent-obh-c6]{display:flex;align-items:center}.logo[_ngcontent-obh-c6]{justify-content:center}.clearfix[_ngcontent-obh-c6]{display:flex;justify-content:flex-end;align-items:center}.language-menu-holder[_ngcontent-obh-c6]{display:flex;flex-direction:column;position:absolute;top:68px;padding:16px;box-sizing:border-box;background-color:#fff;z-index:10000;box-shadow:0 6px 12px #0003}.language-selector[_ngcontent-obh-c6]{cursor:pointer;display:flex;align-items:center;margin-bottom:18px;box-sizing:border-box}.language-name[_ngcontent-obh-c6]{padding-left:16px;font-weight:700;font-size:18px;color:#444}.language-selector[_ngcontent-obh-c6]:last-child{margin-bottom:0}@media (min-width: 900px){nav[_ngcontent-obh-c6]{height:78px}.logo[_ngcontent-obh-c6]{flex:0}}
  style.
    .footer-container[_ngcontent-obh-c7]{justify-content:space-between;background:#333;color:#fff;padding:16px 32px;position:relative;bottom:0;box-sizing:border-box;width:100%;height:auto}.button-container[_ngcontent-obh-c7], .footer-container[_ngcontent-obh-c7]{display:flex;align-items:flex-start;flex-direction:column}.button-container[_ngcontent-obh-c7]{justify-content:flex-start;padding-bottom:16px}.btn[_ngcontent-obh-c7]{font-size:14px;color:#da1f3d;cursor:pointer;padding-right:10px}.copyright[_ngcontent-obh-c7]{font-size:14px;padding-bottom:114px;color:#707070}@media (min-width: 900px){.footer-container[_ngcontent-obh-c7]{flex-direction:row;align-items:center;height:63px;margin-top:-63px}.button-container[_ngcontent-obh-c7]{flex-direction:row;padding-bottom:0}.copyright[_ngcontent-obh-c7]{padding-bottom:0}}
  style.
    .main-container[_ngcontent-obh-c5]{display:flex;justify-content:center;align-items:center;padding:20px 0}.container[_ngcontent-obh-c5]{padding:0 20px;min-height:calc(100vh - 78px)}.section-content[_ngcontent-obh-c5]{padding-top:20px;font-size:24px;line-height:30px;white-space:pre-wrap}.not-found[_ngcontent-obh-c5]{display:flex;justify-content:center;padding-top:25px}.main-selected[_ngcontent-obh-c5]{display:flex;justify-content:flex-start;align-items:flex-start;cursor:pointer}.selected[_ngcontent-obh-c5]{border:1px solid #00c781;border-radius:8px;padding:8px;width:300px;background-color:#00c781;color:#fff}.green-background[_ngcontent-obh-c5]{border:1px solid #00c781;background-color:#00c781}.green-background[_ngcontent-obh-c5], .red-background[_ngcontent-obh-c5]{color:#fff!important;padding-top:0!important;font-size:18;font-weight:700}.red-background[_ngcontent-obh-c5]{border:1px solid #da1f3d;background-color:#da1f3d}.gray-background[_ngcontent-obh-c5]{border:1px solid #777978;background-color:#777978;color:#fff!important;padding-top:0!important;font-size:18;font-weight:700}.red-test-result[_ngcontent-obh-c5]{border-top-left-radius:8px;border-top-right-radius:8px;border:1px solid #da1f3d;background-color:#da1f3d;color:#fff!important}.green-test-result[_ngcontent-obh-c5]{border-top-left-radius:8px;border-top-right-radius:8px;border:1px solid #00c781;background-color:#00c781;color:#fff!important}.gray-test-result[_ngcontent-obh-c5]{border-top-left-radius:8px;border-top-right-radius:8px;border:1px solid #777978;background-color:#777978;color:#fff!important}.list-data[_ngcontent-obh-c5]{border-bottom:1px solid #c7c4c4;padding:1px 8px 10px;font-size:18px;font-weight:700}#data-list[_ngcontent-obh-c5], .name-size[_ngcontent-obh-c5]{font-size:24px;font-weight:700}#data-list[_ngcontent-obh-c5]{padding-left:8px}.list-data[_ngcontent-obh-c5]:not(:first-child){padding-left:39px}.negative-data[_ngcontent-obh-c5]{font-weight:400;font-size:16px;padding:3px 8px 4px 31px}.list-data[_ngcontent-obh-c5]:last-child{border:0}.items-red[_ngcontent-obh-c5]{border:1px solid #da1f3d;border-radius:8px;width:354px;border-top:0}.items-green[_ngcontent-obh-c5]{border:1px solid #00c781;border-radius:8px;width:354px;border-top:0}.items-gray[_ngcontent-obh-c5]{border:1px solid #777978;border-radius:8px;width:354px;border-top:0}.fas[_ngcontent-obh-c5]{font-size:16px;padding-right:7px}.fa-folder[_ngcontent-obh-c5]{color:#f8f8f8}.selected-items[_ngcontent-obh-c5]{display:flex;flex-direction:column;width:100%}.label-name[_ngcontent-obh-c5]{font-size:16px;color:grey;padding:10px 8px 4px 39px}.main-description[_ngcontent-obh-c5]{flex-direction:column}.main-description[_ngcontent-obh-c5], .verified-result[_ngcontent-obh-c5]{display:flex;justify-content:center;align-items:center;padding-bottom:20px}.verified-result[_ngcontent-obh-c5]{color:#00c781;font-size:24px;font-weight:700}.green-text[_ngcontent-obh-c5]{color:#000}.unverified-result[_ngcontent-obh-c5]{display:flex;color:#da1f3d;padding-bottom:20px;width:310px}.main-paragraph[_ngcontent-obh-c5]{width:310px;color:grey;font-size:14px}.paragraph[_ngcontent-obh-c5]{padding-top:9px}.paragraph[_ngcontent-obh-c5]:last-child{margin-bottom:66px}@media (min-width: 900px){.section-content[_ngcontent-obh-c5]{padding-top:30px;font-size:29px;line-height:29px}.container[_ngcontent-obh-c5]{padding:0}}
app-root(_nghost-obh-c8='' ng-version='12.1.3')
  app-navbar(_ngcontent-obh-c8='' _nghost-obh-c6='')
    .navbar-container(_ngcontent-obh-c6='')
      nav.navbar(_ngcontent-obh-c6='')
        .sub-container.language-holder(_ngcontent-obh-c6='')
          .sub-flags(_ngcontent-obh-c6='')
            .flags(_ngcontent-obh-c6='')
              img(_ngcontent-obh-c6='' alt='' src='./assets/images/de-icon.svg')
            .icon-down(_ngcontent-obh-c6='')
              img(_ngcontent-obh-c6='' src='./assets/images/icon-down.svg' alt='Down Icon')
            // 
            // 
        a.sub-container.logo(_ngcontent-obh-c6='' href='')
          img.image-responsive(_ngcontent-obh-c6='' src='./assets/images/LOGO.png' alt='')
        .sub-container.clearfix(_ngcontent-obh-c6='')
    // 
  router-outlet(_ngcontent-obh-c8='')
  app-verification(_nghost-obh-c5='')
    .container(_ngcontent-obh-c5='')
      .section-content(_ngcontent-obh-c5='')  SARS-CoV-2-Testergebnis-Verifizierung 
      // 
      .main-container(_ngcontent-obh-c5='')
        .items-gray(_ngcontent-obh-c5='')
          .main-selected(_ngcontent-obh-c5='')
            .selected-items(_ngcontent-obh-c5='')
              .label-name.gray-test-result(_ngcontent-obh-c5='')  Datum und Zeit des Ergebnisses 
              .label-name.gray-background(_ngcontent-obh-c5='')  14-08-2021 17:00 CET 
              #data-list.list-data.gray-background(_ngcontent-obh-c5='')
                i.fas.fa-check-circle(_ngcontent-obh-c5='')
                |  Negativ
                // 
              .label-name(_ngcontent-obh-c5='') Vorname Name
              .list-data.name-size(_ngcontent-obh-c5='')=fullName
              .label-name(_ngcontent-obh-c5='') Geburtsdatum
              .list-data(_ngcontent-obh-c5='')=dateOfBirth
              .label-name(_ngcontent-obh-c5='')  Datum und Zeit des Tests 
              .list-data(_ngcontent-obh-c5='')=dateOfTest
              .label-name(_ngcontent-obh-c5='') Testmethode
              .list-data(_ngcontent-obh-c5='')  RT PCR 
      // 
      .main-description(_ngcontent-obh-c5='')
        // 
        .found(_ngcontent-obh-c5='')
          .verified-result(_ngcontent-obh-c5='')
            i.fas.fa-check(_ngcontent-obh-c5='')
            div(_ngcontent-obh-c5='')  Das Zertifikat ist gültig.
        // 
        .main-paragraph(_ngcontent-obh-c5='')
          .paragraph(_ngcontent-obh-c5='')
            | Sie haben einen QR-Code auf einem von EcoCare ausgestellten Testergebnis gescannt.
          // 
          .paragraph(_ngcontent-obh-c5='')  Nur offizielle EcoCare-Zertifikate zeigen eine erfolgreiche Verifizierung an. 
          .paragraph(_ngcontent-obh-c5='')
            | Diese ist hilfreich, wenn Sie an Flugh&auml;fen, in Veranstaltungszentren, B&uuml;ros oder anderen Einrichtungen ein negatives COVID-19-Testergebnis vorlegen m&uuml;ssen.
          .paragraph(_ngcontent-obh-c5='')
            | Zudem beugt die Verifizierung, den Missbrauch oder die F&auml;lschung von Testergebnissen vor, so dass Sie und Ihr Umfeld sicher sind.
  // 
  app-footer(_ngcontent-obh-c8='' _nghost-obh-c7='')
    .footer-container(_ngcontent-obh-c7='')
      .button-container(_ngcontent-obh-c7='')
        .btn.data-protection(_ngcontent-obh-c7='') Data Protection
        .btn.imprint(_ngcontent-obh-c7='') Imprint
        .btn.legal-notice(_ngcontent-obh-c7='') Legal Notice
        .btn.contact(_ngcontent-obh-c7='') Contact
      .copyright(_ngcontent-obh-c7='') &copy; 2021 Ecolog Deutschland GmbH
